[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AlexMotyka
[access "refs/for/refs/*"]
	read = group user/AlexMotyka
	push = group user/AlexMotyka
	label-Code-Review = -2..+2 group user/AlexMotyka
	label-Verified = -1..+1 group user/AlexMotyka
	rebase = group user/AlexMotyka
	removeReviewer = group user/AlexMotyka
	submit = group user/AlexMotyka
[access "refs/heads/*"]
	read = group user/AlexMotyka
	create = group user/AlexMotyka
	push = +force group user/AlexMotyka
	pushMerge = group user/AlexMotyka
[access "refs/tags/*"]
	push = group user/AlexMotyka
	push = +force group user/AlexMotyka
